*{
    margin: 0px;
    padding:0px;
    background-color: antiquewhite;
}
p{
    font-size: 50px
    font-weight: 80px;
    font-style: italic;
    text-decoration: underline;
}
#web{
    font-family: sans-serif;
    font-weight: lighter;
    text-align: center;
    text-transform:uppercase;

}
.tech{
    color:darkgreen;
    text-aligh: right;

}
ol li{
    list-style: none;
    text-decoration: dashed;
    margin: 10x 20px
}




